h1 {
    text-align: center;
}
.buttonContainer {
    display: flex;
    justify-content: center;
}
.speed {
    margin-left: 20px;
}
.startCont {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#numberBall, #startSpeed {
    width: 50px;
}
.number label, .speed label {
    font-size: 20px;
}
.number, .speed {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.start, .restart {
    padding: 15px;
}
canvas {
    border: 3px solid grey;

}

@media screen and (max-width: 767px) {
    .buttonContainer {
        justify-content: space-between;
    }
}